<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Welcome to Ionic!</h2>

  <h2>Google Maps</h2>
  <div>
    <sebm-google-map
      #sebmMap
      [zoom]="16"
      [latitude]="location?.lat"
      [longitude]="location?.lng"
      >
      <sebm-google-map-marker
        [latitude]="location?.lat"
        [longitude]="location?.lng">
        <sebm-google-map-info-window>
          <p>{{location | json}}</p>
        </sebm-google-map-info-window>
      </sebm-google-map-marker>
    </sebm-google-map>
  </div>

  <div>
    <h4>Cordova Plugin: CameraRollLocation</h4>
    <button ion-button color="secondary" (click)="handleClick()"> Get Photos
    </button>
    <button ion-button color="danger" (click)="clear()"> Clear
    </button>



    <div *ngFor="let photo of (items | renderPhotoForView)">
      <pre >{{ photo | json }}</pre>

      <ion-card *ngIf="photo">
        <img [src]="photo.$src"/>
        <ion-card-content>
          <ion-card-title>
            {{photo.filename}}
            <ion-icon name="star" *ngIf="photo.isFavorite"></ion-icon>
          </ion-card-title>
          <p > taken: {{ photo.$localTime }} </p>
          <p [hidden]="!photo.location"> gps: [{{photo.location?.coordinates}}] <p>
          <p class="truncate"> {{photo.uuid}} </p>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
