<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Welcome to Ionic!</h2>

  <h2>Google Maps</h2>
  <div>
    <sebm-google-map
      #sebmMap
      [zoom]="16"
      [latitude]="position?.lat()"
      [longitude]="position?.lng()"
      (idle)="mapReady()"
      >
      <sebm-google-map-marker
        [latitude]="position?.lat()"
        [longitude]="position?.lng()">
        <sebm-google-map-info-window>
          <p>{{position?.toUrlValue()}}</p>
        </sebm-google-map-info-window>
      </sebm-google-map-marker>
    </sebm-google-map>
  </div>

  <div>
    <h4>Cordova Plugin: CameraRollLocation</h4>
    <button ion-button color="secondary" (click)="handleClick()"> Get Photos
    </button>
    <button ion-button color="danger" (click)="clear()"> Clear
    </button>



    <div *ngFor="let photo of (items | add$ImgAttrs:320)">
      <ion-card *ngIf="photo">
        <img [ngStyle]="{'max-width.px': 320}" [src]="photo.$img?.src"/>
        <ion-card-content>
          <ion-card-title>
            {{photo.filename}}
            <ion-icon name="star" *ngIf="photo.isFavorite"></ion-icon>
          </ion-card-title>
          <p > taken: {{ photo.localTime.toString().slice(0,24) }} </p>
          <p [hidden]="!photo.position"> gps: {{photo.position | json}} <p>
          <p class="truncate"> {{photo.uuid}} </p>
        </ion-card-content>
      </ion-card>
      <pre >{{ photo | json }}</pre>
    </div>
  </div>
</ion-content>
